.odd {
    background-color: #f005;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.font24 {
    font-size: 24px;
}

#fourth {
    background-color: hsl(120, 100%, 50%, 30%);
    font-weight: bold;
}